/* Sidebar container */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #111827;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
}

/* Logo */
.menu .logo {
  width: 90px;
  display: block;
  margin: 0;              /* remove auto-centering */
}

/* Menu */
.menu {
  list-style: none;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px; /* force children to align left */
}

.menu li {
  margin-bottom: 15px;
  width: 100%;
  max-height: 50px;
  text-align: left;
  transition: 0.5s;
}

.menu li:first-child {
  display: flex;   
  justify-content: flex-start; 
  align-items: center;    
}

.menu li:first-child .logo {
  margin: 0;                 
}

.menu li a {
  text-decoration: none;
  color: #9ca3af;
  font-size: 15px;
  padding: 10px 12px;
  border-radius: 8px;
  transition: 0.5s;
  text-align: left;    
}



/* Hover effect */
.menu li:hover {
  background: #1f293788;
  color: #fff;
}
.menu li:first-child {
  background: none;
}

/* Active look (optional future) */
.menu li a.active {
  background: #3b82f6;
  color: #fff;
}

/* Bottom section */
.bottom {
  margin-top: auto;
}

/* Logout button */
.logout_btn {
  width: 90%;
  padding: 10px;
  margin: 10px;
  background: #ef4444;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.logout_btn:hover {
  background: #dc2626;
}
@media (max-width: 950px) {
.sidebar{
  display: none;
}
}